{% load wagtailcore_tags %}

<section class="block" data-type="quote" data-size="{{ value.Size }}">
  <blockquote>
    {{ value.Quote.quote|richtext }}
  </blockquote>
  <section class="quote--attribution">
    {{ value.Quote.attribution }}
  </section>
</section>