/* ==========================================================================
   Variables
   ========================================================================== */

   :root {
    --orange: #ff9955;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Sprat';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/sprat-condensedbold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Spectral';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Spectral-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'Spectral';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Spectral-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Spectral';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/Spectral-Italic.ttf') format('woff');
}

@font-face {
  font-family:'PxGrotesk';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/PxGroteskRegular.ttf') format('woff');
}


@font-face {
    font-family:'PxGrotesk-Screen';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/PxGrotesk-Screen.ttf') format('woff');
}


/* Reset
   ========================================================================== */
   a {
    text-decoration: none;
}


/* Project stream and page templates
    ========================================================================== */



.template-projectpage {
  max-width: 100ch;
  margin: auto;
}

.block-project--stream--gallery[data-layout="inline"] .block-project--stream--gallery--images {
  white-space: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.block-project--stream--gallery[data-layout="inline"] figure {
  margin: 0;
  display: inline-block;
  padding: 1ch;
  scroll-snap-align: center;
  vertical-align: top;
}

.block-project--stream--gallery[data-layout="inline"] figure:first-child {
  scroll-snap-align: start;
}

.block-project--stream--gallery[data-layout="inline"] figure:last-child {
  scroll-snap-align: end;
}

.block-project--stream--gallery[data-layout="inline"] .block-project--stream--gallery--spacer {
  display: none;
}

.block-project--stream--gallery[data-layout="inline"] img {
  max-width: 100%;
  max-height: 80vh;
}

.block-project--stream--gallery[data-layout="grid-2"] .block-project--stream--gallery--images,
.block-project--stream--gallery[data-layout="grid-3"] .block-project--stream--gallery--images,
.block-project--stream--gallery[data-layout="grid-4"] .block-project--stream--gallery--images {
  display: grid;
  column-gap: 2ch;
  row-gap: 2ch;
}

.block-project--stream--gallery[data-layout="grid-2"] .block-project--stream--gallery--images {
  grid-template-columns: repeat(2, 1fr);
}

.block-project--stream--gallery[data-layout="grid-3"] .block-project--stream--gallery--images {
  grid-template-columns: repeat(3, 1fr);
}

.block-project--stream--gallery[data-layout="grid-4"] .block-project--stream--gallery--images {
  grid-template-columns: repeat(4, 1fr);
}

.block-project--stream--gallery[data-layout="grid-2"] figure,
.block-project--stream--gallery[data-layout="grid-3"] figure,
.block-project--stream--gallery[data-layout="grid-4"] figure {
  margin: 0;
}

.block-project--stream--gallery[data-layout="grid-2"] img,
.block-project--stream--gallery[data-layout="grid-3"] img,
.block-project--stream--gallery[data-layout="grid-4"] img {
  max-width: 100%;
}



/* Project page
   ========================================================================== */

h1 {
  font-family: 'PxGrotesk';
  letter-spacing: -0.03em;
  font-weight: normal;
  font-size: 6em;
  line-height: 1em;
}


block-datarow dl{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%; /* set the container width*/
  overflow: visible;
}

