{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-projectindexpage{% endblock %}

{% block content %}
  {% for project in projectpages %}
    <h2>
      <a href="{% pageurl project %}">{{ project.title }}</a>
    </h2>
  {% endfor %}
{% endblock %}