/* ==========================================================================
   Custom medias definitions
   ========================================================================== */

@custom-media --mobile only screen and (max-width: 767px);
@custom-media --desktop only screen and (min-width: 1300px);

/* ==========================================================================
   Variables
   ========================================================================== */

:root {
    --orange: #ff9955;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Sprat';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/sprat-condensedbold-webfont.woff') format('woff');
}

@font-face {
  font-family:'PxGrotesk';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/PxGroteskRegular.ttf') format('woff');
}


@font-face {
    font-family:'PxGrotesk';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/PxGrotesk-Screen.ttf') format('woff');
}


/* Reset
   ========================================================================== */
   a {
       text-decoration: none;
   }


/* Nav
   ========================================================================== */

.home-logo {
  font-family: 'PxGrotesk';
  font-weight: 500;
  flex: 1 0;
  font-size: 1.5em;
}

#navigation {
  margin: 10px 0 27px 0;
  width: 100%;
}
#navigation nav {
  display: flex;
}
#navigation nav ul {
  flex: 10 0;
}
#navigation li {
  font-family: 'PxGrotesk';
  font-weight: normal;
  display: inline-block;
  display: inline;
  margin-left: 15px;
}
#navigation a {
  color:black;
}
#navigation a:hover {
  color:var(--orange);
}
#navigation nav ul a {
 vertical-align: -7px;

}


/* Main
   ========================================================================== */

body {
 font-family:'PxGrotesk';

}
main {
  padding: 20px;
}
#main {
	/* background-color: #f7941eff; */
}

.grid--container {
  display: grid;
  /* outline: 1px dotted cyan; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 14pt;
  row-gap: 14pt;
  grid-auto-flow: row;
}
a:hover {
  color: var(--orange)
}
figure {
  position: relative;
}
img {
  width: 100%; 
}
.live-pict.ref {
  background: #d4ddd8;
  padding: 70px;
  color: black;
  grid-column-end: span 3;
    grid-column-start: 4;

}
/*.live-pict.ref:hover {
  background: black;
  color: var(--orange);
}*/

/*.live-pict img{
  max-width: 650px;
}
.projects-plan img{
  max-width: 650px;
}*/
.live-pict {
grid-column-end: span 2;
}
.live-quotes {
background-image: linear-gradient(141deg, #ff9955, white);
padding: 40px;
height: max-content;
grid-column-end: span 2;
}

.live-quotes > p {
font-family: 'Spectral';
font-weight: 600;
font-size: 2.7em;
line-height: 1em;

}
.live-pict.text-ref {
  background: #d4ddd8;
  padding: 40px;
  height: max-content;
  grid-column-end: span 2;
}
.live-pict.text-ref > p {
  font-family: 'Spectral';
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.15em;
}
.project {
  position: relative;
  grid-column-start: span 5;
  max-height: 350px;
  height: 350px;
  padding: 30px;
  width: 100%;
  max-width: calc(100% - 60px);
  overflow: hidden;
  box-shadow: 4px 4px 10px #2AAB56;
  /* border: 2px solid #d4ddd8; */
  box-shadow: 4px 4px 10px #ff9955;
  grid-column-start: 2;
  grid-column-end: span6;
}
/*.project:hover div.project-cover,
.project:hover h2 {
  display: none;
}*/
/*.project:hover figure.projects-pict figcaption p,
.project:hover figcaption {
  display: block;
}*/
.project h2 {
  /*position: absolute;*/
  z-index: 100;
  font-size: 6.5em;
  color: #d4ddd8;
  display: inline-block;
  margin: auto;
  /*text-align: center;*/
  width: 100%;
  font-family: 'PxGrotesk';
  font-weight: normal;
  color: black;
}

.project h3 {
  font-family: Spectral;
  font-size: 3em;
  letter-spacing: -0.03em;
  line-height: 1em;
  font-weight: 400;

}
.project-cover {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 10;
  /* filter: opacity(0.85); */
  box-shadow: 32px 23px black;
}
.project .projects-pict {
  max-height: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.projects-pict {
grid-column-start: span 2;

}
.project figcaption,
.projects-pict figcaption p,
.projects-pict figcaption {
  display: none;
}
.projects-pict figcaption,
.project figcaption {
  position: absolute;
/*  bottom: 0;
*//*  padding: 0 10px;
*/  background: white;
  bottom: 0;
  padding: 5px 10px 7px 10px;
}
.projects-pict:hover figcaption p,
.projects-pict:hover figcaption {
  display: block;
}

p {
  font-family:'PxGrotesk';
}
figcaption p {
  margin-top: 6px;
}
.extract-title {

  font-style: italic;
}
.date {
  color: gray;
  text-transform: uppercase;
  display: block;
  font-size: 0.9em;
  line-height: 1.4em;
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  .grid--container {
    grid-template-columns: 1fr;
  }
    .grid--container > * {
    grid-column-end: span 1 !important;
    grid-column-start: span 1 !important;
  }
  .project h2 {
    font-size: 2.2em;
    word-break: break-all;
  }
  figcaption, figcaption p {
    display: block !important;
  }
  .live-pict.ref,
  .live-pict.text-ref {
    padding: 15px;
  }
  .projects-pict figcaption, .project figcaption {
   position: relative; 
  /* bottom: 0; */
  /* padding: 0 10px; */
  background: white;
  /* bottom: calc(100% 26px); */
  padding: 5px 10px 7px 10px;
}
  .live-quotes > p {
  font-family: 'Spectral';
  font-weight: 600;
  font-size: 2.3em;
  line-height: 1em;
}
.live-quotes {
  background-image: linear-gradient(141deg, #ff9955, white);
  padding: 15px;
  height: max-content;
  grid-column-end: span 2;
}
.project figcaption {
  display: none !important;
}
.live-pict.text-ref > p {
  font-family: 'Spectral';
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.15em;
}
/*.project-cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(black, transparent 118%);
  position: absolute;
  z-index: 10;
  filter: none;
}*/
.date {
  display: none;
}
figcaption p {
  margin-top: 3px;
}
}