{% load wagtailcore_tags wagtailimages_tags project_tags %}

<section class="block-project block-project--stream--gallery" data-layout="{{ value.layout|get_gallery_layout_name }}">
  {% if value.title %}
    <h2>{{ value.title }}</h2>
  {% endif %}
  <section class="block-project--stream--gallery--images">
    {% for gallery_image in value.images %}
      {% include_block gallery_image %}
    {% endfor %}
  </section>
  {% if value.caption %}
    <figcaption>
      {{ value.caption|richtext }}
    </figcaption>
  {% endif %}
</section>