{% load wagtailcore_tags wagtailimages_tags %}
<figure class="block-project block-project--stream--image">
  {% image value.image width-800 as gallery_image %}
  <img src="{{ gallery_image.url }}" />
  {% if value.caption %}
    <figcaption>
      {{ value.caption|richtext }}
    </figcaption>
  {% endif %}
</figure>