{% load wagtailcore_tags wagtailimages_tags %}
<figure class="block-project block-project--image">
  {% image value.image width-800 %}
  {% if value.caption %}
    <figcaption>
      {{ value.caption|richtext }}
    </figcaption>
  {% endif %}
</figure>