{% load wagtailcore_tags  %}

<blockquote class="block-project block-project--quote">
  {{ value.quote|richtext }}
  <section class="attribution">
    {{ value.attribution|richtext }}
  </section>
</blockquote>